body {
    margin: 0px;
    width: 296px;
    height: 226px;
    border: 2px solid #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Arial, courier;
    background-color: #FAFAFA;
}

.header {
    padding: 10px;
    font-weight: bold;
    background-color: silver;
    border-top-right-radius: 4px;
}

.spacer {
    height: 10px;
}

label {
    font-size: 75%;
    font-weight: bold;
}

#container {
    padding: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#length {
    width: 100px;
}

#usePassword, #cancel {
    width: 115px;
}

.lp-box:hover {
    background-color: #F0F0F0;
}