body {
    margin: 0px;
    width: 296px;
    height: 196px;
    border: 2px solid #333;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.lp-box {
    width: 276px;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-color: #FAFAFA;
    font-family: Arial, courier;
    cursor: pointer;
}

.lp-box:hover {
    background-color: #F0F0F0;
}